[Desktop Entry]
Name=lmf2
Comment=My Python Program
Exec=python3 /home/pi/lmf2/lmf7.py
Icon=/home/pi/lmf2/yuanpeng-home.jpg
Terminal=false
MultipleArgs=false
Type=Application
Categories=Application;Development;
StartupNotify=true